In [1]:
my_list = [1,2,3]

In [2]:
my_list

[1, 2, 3]

In [3]:
my_list = ['One',123,12.3]

In [4]:
my_list

['One', 123, 12.3]

In [5]:
len(my_list)

3

In [6]:
my_list[0]

'One'

In [7]:
my_list[1:]

[123, 12.3]

In [8]:
mylist = ['one','two','three']

In [9]:
mylist

['one', 'two', 'three']

In [10]:
another_list = ['four','five']

In [11]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [12]:
new_list = mylist + another_list

In [13]:
new_list

['one', 'two', 'three', 'four', 'five']

In [14]:
new_list[0] = 'ONE'

In [15]:
new_list

['ONE', 'two', 'three', 'four', 'five']

In [16]:
new_list.append('six')

In [17]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six']

In [18]:
new_list.append('seven')

In [19]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six', 'seven']

In [20]:
new_list.pop()

'seven'

In [21]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six']

In [22]:
pop_up = new_list.pop()

In [23]:
pop_up

'six'

In [24]:
new_list

['ONE', 'two', 'three', 'four', 'five']

In [25]:
new_list.pop(0)

'ONE'

In [26]:
new_list

['two', 'three', 'four', 'five']

In [27]:
new_list = ['a','l','n','e','b']
num_list = [6,10,15,2,11]

In [28]:
new_list.sort()

In [29]:
new_list

['a', 'b', 'e', 'l', 'n']

In [32]:
listt = new_list.sort()

In [33]:
listt

Nothing is shown because type is none

In [35]:
type(listt)

NoneType

In [38]:
new_list.sort()
listt = new_list

In [39]:
listt

['a', 'b', 'e', 'l', 'n']

In [40]:
num_list.sort()

In [41]:
num_list

[2, 6, 10, 11, 15]

In [42]:
num_list.reverse()

In [43]:
num_list

[15, 11, 10, 6, 2]

In [44]:
my_list = ['Naman','Bajaj','Aman','Jai','Raj']

In [45]:
my_list

['Naman', 'Bajaj', 'Aman', 'Jai', 'Raj']

In [46]:
my_list.sort()

In [47]:
my_list

['Aman', 'Bajaj', 'Jai', 'Naman', 'Raj']

In [48]:
my_list.append('Nayan')

In [49]:
my_list

['Aman', 'Bajaj', 'Jai', 'Naman', 'Raj', 'Nayan']

In [50]:
my_list.sort()

In [51]:
my_list

['Aman', 'Bajaj', 'Jai', 'Naman', 'Nayan', 'Raj']

In [52]:
my_list.reverse()

In [1]:
my_list

NameError: name 'my_list' is not defined

In [2]:
name = [1,2,3]

In [3]:
name.count()

TypeError: count() takes exactly one argument (0 given)

In [5]:
a = name.count(0)

In [6]:
a

0

In [7]:
import dis

In [8]:
dis.dis(name.count)

TypeError: don't know how to disassemble builtin_function_or_method objects

In [21]:
a=900
b=1000

print ("The prime number between",a, "and",b," ")
for num in range(a,b + 1):
    if num > 1:

SyntaxError: unexpected EOF while parsing (<ipython-input-21-d7964875b4fe>, line 6)

In [23]:
a=101
if (a % 2):
    print("Even Number")

SyntaxError: invalid syntax (<ipython-input-23-4d1eb4791684>, line 2)