In [1]:
name = ' Naman'

In [2]:
# change name Naman to Nayan

In [3]:
name

' Naman'

In [4]:
name = 'Naman'

In [5]:
name

'Naman'

In [6]:
name[:2]

'Na'

In [7]:
my_name = name[:2] + 'y' + name[3:]

In [8]:
my_name

'Nayan'

In [9]:
my_name = name[:2] + 'y' + name[-1:-2]

In [10]:
my_name

'Nay'

In [11]:
my_name = name[:2] + 'y' + name[-2:]

In [12]:
my_name

'Nayan'

In [13]:
my_string = 'z'

In [14]:
my_string * 10

'zzzzzzzzzz'

In [15]:
my_string = 'Hello World'

In [16]:
my_string.isupper()

False

In [17]:
my_string.upper()

'HELLO WORLD'

In [18]:
my_string.capitalize()

'Hello world'

In [19]:
my_string.split()

['Hello', 'World']

In [20]:
my_string = "Hello my name is Naman Bajaj"

In [22]:
my_string.split('a')

['Hello my n', 'me is N', 'm', 'n B', 'j', 'j']