In [1]:
t = (1,2,3)

In [2]:
t

(1, 2, 3)

In [3]:
m_list = [1,2,3]

In [4]:
m_list

[1, 2, 3]

In [5]:
type(t)

tuple

In [6]:
type(m_list)

list

In [7]:
t1 = ('one',2)

In [8]:
t1

('one', 2)

In [9]:
len(t1)

2

In [10]:
t1[0]

'one'

In [11]:
t1[-1]

2

In [12]:
t1[0:]

('one', 2)

In [13]:
t2 = ('a','a','b','c','a','b','d')

In [14]:
t2

('a', 'a', 'b', 'c', 'a', 'b', 'd')

In [15]:
t2.count('a')

3

In [16]:
t2.count('c')

1

In [17]:
t2.count('b')

2

In [18]:
t2.index('a')

0

In [19]:
t2.index('b')

2

In [20]:
t2.index('c')

3

In [21]:
m_list[0] = 5

In [22]:
m_list

[5, 2, 3]

In [23]:
t2[0] = 'b'

TypeError: 'tuple' object does not support item assignment